*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    width: 100%;
}
header{
    background-color: #043748;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 64px;
}
.nav-menu{
    display: flex;
    gap: 150px;
    align-items: center;
}
.nav-items a{
    color: #A1B5BB;
}
.nav-items a:hover{
    text-decoration: underline;
}
.nav-items{
    display: flex;
    gap: 50px;
}
.nav-btn{
    padding: 10px 20px;
    background-color: #145E76;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 700px;
}
.nav-sidebar{
    display: none;
}

@media (max-width:780px) {
    .navbar .nav-menu{
        display: none;
    }
    .navbar .nav-sidebar{
        display: block;
        color: white;
        background-color: transparent;
        border: none;
        font-size: 50px;
    }
}
.first{
    background-color: #043748;
}
.hero{
    display: flex;
    gap: 30px;
    padding: 50px;
    padding-bottom: 300px;
}
.hero-desc{
    max-width: 537px;
    width: 100%;
    padding-left: 150px;
    padding-top: 60px;
}
.hero-p{
    background-color: #094556;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    width: 165px;
    font-family: 'Times New Roman', Times, serif ;
}
.hero-h2{
    font-size: 45px;
    font-weight: 700px;
    color: white;
    margin-top: 20px;
}
.hero-desc-p{
    font-size: 14px;
    font-weight: 400px;
    color: #849499;
    margin-top: 20px;
}
.hero-btn{
    padding: 10px 15px;
    color: white;
    background-color: transparent;
    border: none;
    margin-top: 20px;
    border-radius: 20px;
    font-family: sans-serif;
}
.hero-btn:hover{
    background-color: #FFA63A;
}
.hero-img{
    max-width: 550px;
}

@media (max-width:1007px) {
    .hero{
        display: block;
        text-align: center;
    }
}
@media (max-width:690px) {
    .hero{
        padding: 20px;
    }
    .hero .hero-desc{
        padding: 20px;
    }
    .hero .hero-image{
        max-width: 300px;
    }
    .hero .hero-img{
        width: 100%;
    }
}

.statistic{
    text-align: center;
    box-shadow: 5px 5px 20px grey;
    border-radius: 20px;

    padding: 60px 100px;
    color: #08546C;
    margin-top: -150px;
    background-color: white;
}
.statistic h1{
    font-size: 24px;
    font-weight: 600px;
    font-family: sans-serif;
}

.statistikalar{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 50px;
}
.statistika{
    width: 150px;
}
.statistika h4{
    font-size: 48px;
    color: #08546C;
    font-weight: 600px;
    font-family: sans-serif;
}
.statistika p{
    font-size: 18px;
    color: #08546C;
}

@media (max-width:885px) {
    .statistikalar{
        grid-template-columns: repeat(2, auto);
        justify-content: center;
    }
}
@media (max-width:515px) {
    .statistikalar{
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }
}

.service{
    text-align: center;
    padding: 50px 5px;
}
.service a{
    color: #265A6A;
    font-size: 18px;
}
.service a:hover{
    text-decoration: underline;
}
.service-title{
    font-size: 30px;
    color: #08546C;
    margin-top: 20px;
    width: 100%;
}
.service-boxes{
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 30px;
    justify-content: center;
    gap: 20px;
}
.service-box:hover{
    background-color: #08546C;
    color: white;
}

.service-box{
    max-width: 200px;
    height: 190px;
    box-shadow: 0px 41.78px 33.42px 0px #0000000D;
    padding: 15px;
    text-align: left;
}
.service-box-img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.service-box-title{
    font-size: 18px;
    margin-top: 10px;
}
.service-box-desc{
    margin-top: 10px;
    font-size: 13px;
    color: #696969;
}

@media (max-width:789px) {
    .service .service-boxes{
        grid-template-columns: repeat(2, auto);
    }
}
@media (max-width:480px) {
    .service .service-boxes{
        grid-template-columns: repeat(1, auto);
    }
}

.portfolio{
    text-align: center;
    padding-top: 60px;
}
.portfolio h1{
    font-size: 45px;
    color: #08546C;
}
.portfolio p{
    margin-top: 20px;
    font-size: 18px;
    color: #757575;
}
.portfoliyalar{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
    padding: 0 10px;
}
.portfoliya{
    max-width: 515px;
    height: 588px;
    text-align: left;
}
.portfolio-img{
    width: 515px;
}
.portfoliya h2{
    font-size: 30px;
    color: #08546C;
    margin-top: 30px;
}
.portfoliya p{
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
}
.portfoliya a{
    font-size: 18px;
    color: #08546C;
}
.portfoliya a:hover{
    color: #FFA800;
}

@media (max-width:1100px) {
    .portfoliyalar{
        grid-template-columns: repeat(1,auto);
        justify-content: center;
    }
    
}
@media (max-width:550px) {
    .portfolio-img{
        width: 305px;
        width: 100%;
    }
}

.blog-desc{
    max-width: 585px;
}
.blog{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 50px;
    height: 600px;
    align-items: center;
    padding: 0 20px;
}
.blog-img{
    max-width: 500px;
}
.fst{
    font-size: 20px;
    color: #FFFF;
    line-height: 26px;
}
.second{
    font-size: 18px;
    color: #AABFC6;
    margin-top: 20px;
}
@media (max-width: 885px) {
    .blog{
        height: 800px;
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }
}
@media (max-width: 530px) {
    .blog-img{
        width: 350px;
        width: 100%;
    }
}

.footer{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 50px;
}
.footer-logo{
    max-width: 344px;
    margin-top: 50px;
}
.footer-logo p{
    font-size: 18px;
    margin-top: 30px;
    color: #757575;
}
.images{
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.pages h1, .service-2 h1, .contact h1{
    font-size: 24px;
    color: #08546C;
}
.pages, .contact, .service-2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pages a, .service-2 a, .contact a{
    color: #787878;
    font-size: 18px;
}

@media (max-width:865px) {
    .footer{
        grid-template-columns: repeat(2, auto);
        text-align: center;
    }
}

@media (max-width:560px) {
    .footer{
        grid-template-columns: repeat(1, auto);
        text-align: center;
    }
}